{% extends 'base.html' %} {% block content %} {% load params %}
<script defer>
  const onClick = (event) => {
    var checkbox = document.getElementById(event.target.id);
    console.log(localStorage.getItem(event.target.id));

    
    if (localStorage.getItem(event.target.id) == "true") {
      localStorage.setItem(event.target.id, false);
    } else {
      localStorage.setItem(event.target.id, true);
    }
  };
  window.addEventListener("onclick", onClick);

  //for loading
  /*  try {
      checked = JSON.parse(localStorage.getItem("checkbox1"));
    } catch (e) {
        checked = false; // default value on error
        if (typeof e === "object" && e.message) {
            console.error(e.message);
        }
  }
  document.getElementById("checkbox1").checked = checked; */
</script>

<div class="col-3 my-3">
  <div class="card" stlye="min-width: 100%">
    <div class="card-body">

      <h6 class="card-title">Experience Level</h6>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'internship' 'true' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="InternshipCheck"
        />
        <label class="form-check-label" for="InternshipCheck">
          Internship
        </label>
      </div>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'entrylevel' 'true' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="EntryLevelCheck"
        />
        <label class="form-check-label" for="EntryLevelCheck">
          Entry Level
        </label>
      </div>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'junior' 'true' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="JuniorCheck"
        />
        <label class="form-check-label" for="JuniorCheck">
          Junior
        </label>
      </div>
      <span class="d-inline-block" ></span>
      <h6 class="card-title">Job Type</h6>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'fulltime' 'true' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="FulltimeCheck"
        />
        <label class="form-check-label" for="FulltimeCheck">
          Full-Time
        </label>
      </div>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'parttime' 'true' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="ParttimeCheck"
        />
        <label class="form-check-label" for="ParttimeCheck">
          Part-Time
        </label>
      </div>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'contract' 'true' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="ContractCheck"
        />
        <label class="form-check-label" for="ContractCheck">
          Contract
        </label>
      </div>

      <span class="d-inline-block" ></span>
      <h6 class="card-title">Job Place</h6>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'onsite' 'true' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="OnSiteCheck"
        />
        <label class="form-check-label" for="OnSiteCheck">
          On-Site
        </label>
      </div>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'remote' 'true' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="RemoteCheck"
        />
        <label class="form-check-label" for="RemoteCheck">
          Remote
        </label>
      </div>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'Hybrid' 'true' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="HybridCheck"
        />
        <label class="form-check-label" for="HybridCheck">
          Hybrid
        </label>
      </div>

      <span class="d-inline-block" ></span>
      <h6 class="card-title">Date Posted</h6>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'dateposted' '1' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="OneDayCheck"
        />
        <label class="form-check-label" for="OneDayCheck">
          Last 24 Hours
        </label>
      </div>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'dateposted' '7' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="SevenDaysCheck"
        />
        <label class="form-check-label" for="SevenDaysCheck">
          Last Week
        </label>
      </div>
      <div class="form-check">
        <input
          onclick="onClick(event); window.location.assign(`{% relative_url  'dateposted' '30' request.GET %}`);"
          class="form-check-input"
          type="checkbox"
          value=""
          id="OneMonthCheck"
        />
        <label class="form-check-label" for="OneMonthCheck">
          Last Month
        </label>
      </div>

    </div>
  </div>
</div>
<div class="col-9"></div>
<script defer>
  let checked;
  for (var i = 0; i < localStorage.length; i++) {
    if (localStorage.key(i).includes("Check")) {
      let checkbox = document.getElementById(localStorage.key(i));
      let is_checked = localStorage.getItem(localStorage.key(i));
      if (is_checked == "true") {
        checkbox.checked = true;
    } else {
        checkbox.checked = false;
      }
      console.log(checkbox, is_checked);
    }
  }
</script>
{% endblock content %}
